Repository meefs/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: ultracite-lint, ultracite-format, markdown

lefthook.yml:

# Lefthook configuration
pre-commit:
  parallel: false
  commands:
    ultracite-lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: bunx ultracite lint {staged_files}
    ultracite-format:
      glob: "*.{js,ts,jsx,tsx}"
      run: bunx ultracite format --write {staged_files}
      stage_fixed: true
    markdown:
      glob: "*.md"
      run: |
        bunx prettier --write {staged_files} &&
        bunx markdownlint-cli2 {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit

pre-push:
  commands:
    types:
      run: turbo run type-check --affected
    test:
      run: turbo run test --affected

chore(hooks): fix ultracite flag and scope markdownlint to staged files
  lefthook.yml
Due: none

chore(hooks): lint mdx/mdc too in pre-commit
  lefthook.yml
Due: none

chore(hooks): scope all checks to staged, enable fixes (ultracite --fix, markdownlint fix default)
  .markdownlint-cli2.jsonc
  lefthook.yml
Due: none

fix(markdownlint): scope file matching to args only; keep staged-only hook
  .agent/logs/202508141733-cursor-agent-recap.md
  .markdownlint-cli2.jsonc
  lefthook.yml
Due: markdown

docs(agent): clarify PR creation next steps and remote branch status in recap
  .agent/logs/202508141733-cursor-agent-recap.md
Due: markdown

fix: complete TypeScript config consolidation and update remaining references
  .claude/CLAUDE.md
  .cursor/rules/ultracite.mdc
  .github/copilot-instructions.md
  AGENTS.md
  docs/contributing/README.md
  docs/contributing/development.md
  docs/project/handoffs/20250120-contracts-subpath-exports-implementation.md
  docs/project/handoffs/20250619-baselayer-production-readiness.md
  docs/project/notes/202506101807-comprehensive-review.md
  docs/proposals/006-opaque-result-type.md
  docs/proposals/007-enhance-rightdown-with-advanced-formatting.md
  docs/proposals/008-contracts-subpath-exports.md
  docs/proposals/010-structured-logger-package.md
  docs/proposals/011-config-loader-package.md
  docs/proposals/012-http-client-package.md
  docs/proposals/017-react-contracts-package.md
  docs/proposals/020-contracts-effect-package.md
  docs/proposals/021-rightdown-unified-formatter.md
  docs/proposals/022-remark-based-formatter.md
  docs/proposals/agents-config-package.md
  docs/proposals/biome-config-package.md
  docs/proposals/consolidate-markdown-formatting.md
  docs/proposals/flint-unified-formatter-linter.md
  packages/baselayer/package.json
  packages/baselayer/tsconfig.json
  packages/contracts/ts/tsconfig.json
  scripts/tsconfig.json
  shared/configs/remark/tsconfig.json
Due: markdown

fix: resolve circular dependency between contracts and baselayer
  packages/contracts/ts/package.json
  packages/contracts/ts/tsconfig.json
Due: none

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

fix: address coderabbit feedback - cjs exports and bun migration
  .agent/memory/20250121-bun-migration-analysis.md
  bun.lock
  packages/baselayer/package.json
  packages/cli/package.json
  packages/contracts/ts/package.json
  packages/types/package.json
  shared/configs/biome/package.json
  shared/configs/remark/package.json
Due: markdown

fix: use npx tsc for type-check scripts to resolve bunx path issues
  packages/cli/package.json
  packages/contracts/ts/package.json
Due: none

fix: address CodeRabbit review feedback for error handling and type safety
  .gitignore
  packages/baselayer/src/commands/migrate.ts
  packages/baselayer/src/commands/setup.ts
  packages/baselayer/src/core/dependency-cleanup.ts
  packages/baselayer/src/core/merger.ts
  packages/baselayer/src/generators/prettier.ts
  packages/baselayer/src/generators/typescript.ts
  packages/baselayer/src/generators/vitest.ts
  packages/cli/src/commands/fieldguides.ts
  packages/cli/src/commands/fieldguides/add.ts
  packages/cli/src/commands/fieldguides/config.ts
Due: ultracite-lint, ultracite-format

Apply suggested changes
  packages/baselayer/src/commands/migrate.ts
Due: ultracite-lint, ultracite-format

fix: streamline github actions to prevent duplicate claude reviews
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

feat: allow specific bots to trigger claude responses
  .github/workflows/claude.yml
Due: none

chore(gitignore): add .envrc
  .gitignore
Due: none

feat: add bot filtering to claude-code-review workflow
  .github/workflows/claude-code-review.yml
Due: none

fix: remove issues trigger from claude workflow
  .github/workflows/claude.yml
Due: none

refactor: streamline bot allowlist using contains() function
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

feat: enhance claude review with incremental reviews and inline comments
  .github/workflows/claude-code-review.yml
Due: none

fix: implement all coderabbit workflow improvements
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

feat: add ready_for_review and review_requested triggers
  .github/workflows/claude-code-review.yml
Due: none

fix: add comment existence check for safety
  .github/workflows/claude-code-review.yml
Due: none

fix: remove env variables from job-level conditions
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

docs: document security fixes from coderabbit review (#89)
  SECURITY_FIXES.md
Due: markdown

fix: address CodeRabbit code quality & standards compliance improvements (#85)
  packages/baselayer/src/adapters/markdownlint-adapter.ts
  packages/baselayer/src/adapters/prettier-adapter.ts
  packages/baselayer/src/adapters/stylelint-adapter.ts
  packages/baselayer/src/generators/turborepo.ts
  packages/baselayer/src/orchestration/file-matcher.ts
  packages/cli/src/commands/fieldguides/add.ts
  packages/cli/src/commands/fieldguides/config.ts
  packages/cli/src/commands/fieldguides/create.ts
  packages/cli/src/commands/fieldguides/list.ts
  packages/cli/src/commands/fieldguides/update.ts
  packages/cli/src/utils/logger.ts
Due: ultracite-lint, ultracite-format

docs: update documentation for consistency with current setup (#86)
  .agent/prompts/mode-max-eng.md
  AGENT.md
  CLAUDE.md
  README.md
  bun.lock
  docs/contributing/README.md
  docs/contributing/development.md
  lefthook.yml
  package.json
  packages/contracts/ts/README.md
  packages/contracts/ts/src/types/branded.ts
  packages/fieldguides/scripts/validate-frontmatter.ts
  scripts/generate-mdlint-config.mjs
  scripts/unwrap-markdown-prose.mjs
  shared/configs/remark/README.md
Due: ultracite-lint, ultracite-format, markdown

fix: simplify Biome configuration to use Ultracite zero-config approach (#91)
  packages/baselayer/configs/base/biome.json
  packages/baselayer/src/generators/__tests__/biome.test.ts
  packages/baselayer/src/generators/biome.ts
Due: ultracite-lint, ultracite-format

feat: optimize monorepo with bun native features (#93)
  .agent/docs/monorepo-streamline-UPDATE.md
  .agent/docs/monorepo-streamline.md
  .agent/memory/20250121-bun-migration-analysis.md
  .agent/recaps/2025-08-22-bun-optimization.md
  .claude/CLAUDE.md
  .github/workflows/publish.yml
  AGENTS.md
  README.md
  bun.lock
  bunfig.toml
  docs/CONTRIBUTING.md
  lefthook.yml
  package.json
  packages/baselayer/README.md
  packages/baselayer/build.mjs
  packages/baselayer/package.json
  packages/baselayer/src/generators/__tests__/turborepo.test.ts
  packages/baselayer/src/generators/index.ts
  packages/baselayer/src/generators/turborepo.ts
  packages/baselayer/tsconfig.json
  packages/baselayer/tsup.config.ts
  packages/cli/CLAUDE.md
  packages/cli/package.json
  packages/cli/tsconfig.json
  packages/contracts/ts/package.json
  packages/contracts/ts/tsconfig.json
  packages/fieldguides/README.md
  packages/types/tsconfig.json
  tsconfig.json
  turbo.json
Due: ultracite-lint, ultracite-format, markdown

feat: add comprehensive setup script for development environment (#90)
  .agent/memory/feature-add-setup-script.md
  .gitignore
  README.md
  biome.json
  bun.lock
  bunfig.toml
  package.json
  packages/baselayer/configs/base/biome.json
  packages/baselayer/package.json
  packages/baselayer/src/core/__tests__/installer.test.ts
  packages/baselayer/src/generators/__tests__/biome.test.ts
  packages/baselayer/src/generators/biome.ts
  packages/baselayer/src/utils/__tests__/package-manager.test.ts
  packages/baselayer/src/utils/package-manager.ts
  packages/cli/package.json
  packages/fieldguides/pnpm-workspace.yaml
  scripts/setup.ps1
  scripts/setup.sh
  scripts/setup.ts
  setup.sh
Due: ultracite-lint, ultracite-format, markdown
